@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-launch {
  background: linear-gradient(
    165.6deg,
    #01adb5 -6.24%,
    #7194ec 54%,
    #f389bc 106.05%
  );
}

.bg-green {
  background: #01adb5;
}

.bg-blue {
  background: #117bb6;
}

.bg-pink {
  background: #f389bc;
}

.text-dark {
  color: #3f3d56;
}

.text-green {
  color: #01adb5;
}

.textarea:focus {
  border: 2px solid #5170be;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type='radio'] + div {
  cursor: pointer;
}

[type='radio']:checked + div {
  background: #0000007d;
}
